<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tintin.mat.winecellar"
    android:versionCode="2"
    android:versionName="1.0.1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AjouterCaveActivity"
            android:label="@string/add_cellar">
        </activity>
        <activity
            android:name=".activity.ModifierCaveActivity"
            android:label="@string/add_cellar">
        </activity>
        <activity
            android:name=".activity.VisualiserCaveActivity"
            android:label="@string/content_cellar">
        </activity>
        <activity
            android:name=".activity.VisualiserClayetteActivity"
            android:label="@string/content_cellar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable">
            </meta-data>
        </activity>
        <activity
            android:name=".activity.VisualiserRechercheActivity"
            android:label="@string/toolbar_recherche_globale">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable">
            </meta-data>
        </activity>
        <activity
            android:name=".activity.AjouterBouteilleActivity"
            android:label="@string/add_bottle"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.ModifierBouteilleActivity"
            android:label="@string/modif_bottle"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.BouteillesDegusteesActivity"
            android:label="@string/modif_bottle">
        </activity>
        <activity
            android:name=".activity.CarteVinsFranceActivity"
            android:label="@string/modif_bottle">
        </activity>
        <activity
            android:name=".activity.MillesimesVinsFranceActivity"
            android:label="@string/modif_bottle">
        </activity>
        <activity
            android:name=".activity.OptionsActivity"
            android:label="@string/modif_bottle">
        </activity>
        <activity
            android:name=".activity.RechercheGlobaleActivity"
            android:label="@string/toolbar_recherche_globale"
            android:windowSoftInputMode="stateHidden">
        </activity>


    </application>

</manifest>